## Data Cleaning

This dataset is quite uncleand and unusable in its current state.

This notebook will be used to clean the data and to annotate my progress (for future reference), then to do the EDA and a recommendation system within a new notebook.

### ** REMEMBER TO EXTRACT CODE INTO AN IDE TO GET A .py SCRIPT **
#### Ask Shanghua what's the best way to do this

In [151]:
# Data manipulation & cleaning
## Since we're just cleaning, we won't require many libraries
import pandas as pd
import numpy as np

In [162]:
# Import data
df = pd.read_csv(r"C:\Users\ssc44611\Documents\L4 Projects\4. Stean Store (Personal Proj) - EDA & ML\steam_app_data.csv")
df_copy1 = df.copy()
df_copy2 = df.copy()

In [173]:
# Saving a smaller, snipped dataset - to visualise the unclean data on github (Original dataset is too large)
df_copy_newsave = df.copy()
df_copy_newsave = df_copy_newsave.head(50)
df_copy_newsave.to_csv(r"C:\Users\ssc44611\Documents\L4 Projects\2. Steam (Personal Proj) - EDA & ML\steam_app_data_PREVIEW")
## Original = 286,616 KB / 286.616 MB ✗
## Preview (New) = 404 KB / 0.404 MB ✓
### GitHub Minimum = 25 MB

In [154]:
df.head(2)

,type,name,steam_appid,required_age,is_free,controller_support,dlc,detailed_description,about_the_game,short_description,...,categories,genres,screenshots,movies,recommendations,achievements,release_date,support_info,background,content_descriptors
0,game,Counter-Strike,10,0.0,False,NaN,NaN,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...,Play the world's number 1 online action game. ...,...,"[{'id': 1, 'description': 'Multi-player'}, {'i...","[{'id': '1', 'description': 'Action'}]","[{'id': 0, 'path_thumbnail': 'https://steamcdn...",NaN,{'total': 65735},{'total': 0},"{'coming_soon': False, 'date': '1 Nov, 2000'}","{'url': 'http://steamcommunity.com/app/10', 'e...",https://steamcdn-a.akamaihd.net/steam/apps/10/...,"{'ids': [2, 5], 'notes': 'Includes intense vio..."
1,game,Team Fortress Classic,20,0.0,False,NaN,NaN,One of the most popular online action games of...,One of the most popular online action games of...,One of the most popular online action games of...,...,"[{'id': 1, 'description': 'Multi-player'}, {'i...","[{'id': '1', 'description': 'Action'}]","[{'id': 0, 'path_thumbnail': 'https://steamcdn...",NaN,{'total': 2802},{'total': 0},"{'coming_soon': False, 'date': '1 Apr, 1999'}","{'url': '', 'email': ''}",https://steamcdn-a.akamaihd.net/steam/apps/20/...,"{'ids': [2, 5], 'notes': 'Includes intense vio..."

In [164]:
# Printing count of rows & columns
print(f"There are {df.shape[0]} rows")
print(f"There are {df.shape[1]} columns")

There are 29235 rows
There are 39 columns

### Data Cleaning - Initial Processing

This section of the cleaning process will focus on the overall dataset - iterating through the columns. 

As we progress into the data cleansing, we will look at the dataset in a more microscopic view.

In [157]:
# Printing null values for each column
na_count = df.isnull().sum()
na_count

type                         149
name                           1
steam_appid                    0
required_age                 149
is_free                      149
controller_support         23237
dlc                        24260
detailed_description         175
about_the_game               175
short_description            175
fullgame                   29235
supported_languages          163
header_image                 149
website                     9983
pc_requirements              149
mac_requirements             149
linux_requirements           149
legal_notice               19168
drm_notice                 29077
ext_user_account_notice    28723
developers                   264
publishers                   149
demos                      27096
price_overview              3712
packages                    3370
package_groups               149
platforms                    149
metacritic                 26254
reviews                    23330
categories                   714
genres                       196
screenshots                  177
movies                      2078
recommendations            22507
achievements                2381
release_date                 149
support_info                 149
background                   177
content_descriptors          149
dtype: int64

In [159]:
df_nona = df_copy1.dropna()
df_nona

Empty DataFrame
Columns: [type, name, steam_appid, required_age, is_free, controller_support, dlc, detailed_description, about_the_game, short_description, fullgame, supported_languages, header_image, website, pc_requirements, mac_requirements, linux_requirements, legal_notice, drm_notice, ext_user_account_notice, developers, publishers, demos, price_overview, packages, package_groups, platforms, metacritic, reviews, categories, genres, screenshots, movies, recommendations, achievements, release_date, support_info, background, content_descriptors]
Index: []

[0 rows x 39 columns]

Dropping the null rows without actually looking a little deeper, will mean we just of the entire dataset. 

Since there's a significant amount of null values - essentially a null value for every row - we will have to create a specific criteria of the data with wish to remove

We will look to drop any columns that contain 50% or more null values, relative to the total row count.

In [108]:
# Finding columns with >= 50% null values
value_threshold = df.shape[0] // 2 # 50% of total row count, if a columns has greater null values than 50%, we will drop it

print(f"We will need to drop columns with (>=) {value_threshold} null values") # Printing our column drop criteria

We will need to drop columns with (>=) 14617 null values

In [168]:
# Looking at what columns we need to drop 
drop_cols = df.columns[na_count >= value_threshold] # Get the columns that have (null value count >= 50% of total row count)

print(f"We will need to drop: {list(drop_rows)} - (10 columns).") # Printing what columns we need to mention when dropping.

We will need to drop: ['controller_support', 'dlc', 'fullgame', 'legal_notice', 'drm_notice', 'ext_user_account_notice', 'demos', 'metacritic', 'reviews', 'recommendations'] - (10 columns).

In [172]:
# Let's look at the "Type" columns, for any media without a "Type" - we can drop.

print(df['type'].value_counts(dropna=False)) # Without (dropna=False), the NaN rows won't print

print('---------------------------')
print('Amount of rows to drop:', df[df['type'].isnull()].shape[0]) # Printing the amount of NaN rows to drop
print('---------------------------')

df[df['type'].isnull()].head(2) # Looking a preview of the rows with missing data

game    29086
NaN       149
Name: type, dtype: int64
---------------------------
Amount of rows to drop: 149
---------------------------

,type,name,steam_appid,required_age,is_free,controller_support,dlc,detailed_description,about_the_game,short_description,...,categories,genres,screenshots,movies,recommendations,achievements,release_date,support_info,background,content_descriptors
26,NaN,Half-Life: Opposing Force,852,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
147,NaN,Half-Life: Opposing Force,4330,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

It is important to note that these rows have no other values. So it is fine to drop them